.headerContainer{
    
    //background-color: var(--white);
    //height: 6.5rem;
   
    //incremento de design
    background-color: var(--gray-1000);
    height: 4rem;
    

    display: flex;
    align-items:center;

    padding: 2rem 4rem;

    //border-bottom: 1px solid var(--gray-100);
    border-bottom: 1px solid var(--gray-900);

    p{
        margin-left:2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--gray-100);
        //incremento de design
        color: var(--white);
        font-family: Lexend, sans-serif;
    }

    span{
        margin-left: auto;
        text-transform: capitalize;
        //incremento de design
        color: var(--white);
        font-family: Lexend, sans-serif;
    }

}

